/*//////////
/// Custom Row
//////////////*/
.innerCont{
    padding: 12px 40px !important;


  .avatar{
    width: 60px;
    height: 60px;
    background: url(../../assets/img/Blank_woman_placeholder.svg.png) no-repeat center center;
    background-size: contain;
  }
  .actions button{
    margin-right: 5px;
  }
  .actions{
    padding:15px;
  }
  .action{
    font-size: 1.5em;
    font-weight: bold;
  }

  h6{
    font-size: 1.1em;
    font-weight: bold;
  }

}
.eleRow:hover .innerCont{
  border-left: 5px solid #f16f21;
  background: #fafafa;
  margin-left: 15px;
}
.eleRow:nth-child(even) .innerCont{background: #fafafa;}
.eleRow:nth-child(odd) {margin-left: 0px}

.col-lg-6.active{
  width: 100%;
    margin: 30px 0;
}

.col-lg-6.active .hidden{
  display:inline-block!important;

}

.col-lg-6.active .col-lg-3{
  margin: 10px 0;
}
.col-lg-6.active .col-lg-3 h6{
  text-transform: uppercase;
}
