/*//////////
/// LOGIN
//////////////*/
.login .bs-docs-header, .login .bs-docs-masthead {
      min-height: 350px;
}
.login .innerCont{
  margin-top: -130px!important;
  width: 390px;
}
.login .container{
  text-align: center;
}
