/* Variables */
$background: #eeeeee;
$vin-green: #60b044;
$vin-red: #ff0000;


html{
  width: 100%;
  height: 100%;
  background: $background;
}
body{
  background: $background;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  height: 100%;

}
#app, .login{
    height: 100%;
}
.navbar-brand{
  font-weight: bold;
}

.container{
  width: 80%;
}
.container .container{
  width: 100%;
}

.innerCont{
  z-index: 2;
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 40px 22px 40px;
  margin-bottom: 15px;
}

.innerContBody{
  z-index: 2;
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 40px 22px 40px;
  margin-top: -100px;
}

.hidde{
  display: none;
}

.upContainer{
    margin-top: -100px;
}

.subtitle{
  font-size: 0.8em;
}

.bs-docs-header h1{
  color: #fff;
}

.bs-docs-header, .bs-docs-masthead {
    background: #f16f21;
    filter: none;
    color: #e9e9e9;
    padding-top: 85px;
    padding-bottom: 100px;
    font-size: 24px;
    text-align: left;
  }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse{
  background:#e7383a;
  border-color:#f16f21;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
  background: #f16f21;
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  background:#f16f21;
  color: #fff;

}
.logo{
      width: 148px;
}
.getData{
  float: right;
margin-top: -150px;
margin-right: -40px;
}
.griddle-filter{
  float: right;
      margin-top: -60px;
  width: 30%;
  margin-right: -40px;
}
.griddle-settings-toggle{
  float: right;
  margin-top: -60px;
  margin-right: -40px;
}
.footer-container{
  background: #fff;
}
.griddle-columns .griddle-column-selection{
  display: inline-block;
  margin: 5 10px;
}


td, th{
      padding: 25px 18px!important;
}
.paginate-info{
    clear:both;
    float: left;
}
.paginate{
    float: right;
}
